{{#each todoLists}}
  <li class="item todo-list-item {{#if (equals id ../activatedTodoListId)}}active{{/if}}" data-id="{{id}}">
    <span class="todo-list-item-title hide show-inline" data-span="title">
      {{title}}
    </span>
    <input class="todo-list-item-input hide" data-input="todo-list-item-input" type="text">
    <span class="todo-list-item-number-of-todos">
      {{todos.length}}
    </span>
    {{#if removable}}
      <button class="delete-btn todo-list-item-delete-btn" type="button" data-button="todo-list-delete-button"></button>
    {{/if}}
  </li>
{{/each}}