{{#each todoLists}}
  <li class="todolist-item" data-id="{{id}}">
    <span class="todolist-item-title">
      {{title}}
    </span>
    <span class="todolist-item-number-of-todos">
      {{todos.length}}
    </span>
    {{#if removable}}
      <button class="todolist-delete-button" type="button">X</button>
    {{/if}}
  </li>
{{/each}}