{{#each todos}}
  <li data-id="{{id}}">
    <span class="todo-item-title">
      {{title}}
    </span>
    <span>
      {{dueDate}}
    </span>
    <button class="todo-delete-button" type="button" data-button="todo-delete-button">X</button>
  </li>
{{/each}}