{{#each todoLists}}
  <li class="todolist-item">
    <span class="todolist-item-title">
      {{title}}
    </span>
    <span class="todolist-item-number-of-todos">
      {{todos.length}}
    </span>
  </li>
{{/each}}