{{#each todos}}
  <li data-id="{{id}}">
    <span class="todo-item-title">
      {{title}}
    </span>
    <span>
      {{#if dueDate}}
        {{formatdate dueDate}}
      {{else}}
        -
      {{/if}}
    </span>
    <button class="todo-delete-button" type="button" data-button="todo-delete-button">X</button>
  </li>
{{/each}}