@use "var";

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 80px 1fr;
  min-height: 100vh;
  border: var.$border;
}

%area {
  padding: 1rem;
  background: var.$background-color;
}

.todo-list-area {
  @extend %area;
  border-right: var.$border;
}

.add-todo-list-title-input {
  padding: var.$input-padding;
}

.todo-lists {
  list-style: none;
}

.todo-list-item.active {
  background: var.$primary-color;
}

%cursor-text {
  cursor: default;
}

.todo-list-item-title:hover {
  @extend %cursor-text;
}

.todo-list-item-number-of-todos:hover {
  @extend %cursor-text;
}

.todo-area {
  @extend %area;
}

.secondary-heading {
  font-weight: normal;
  color: var.$secondary-color;
}

.add-todo {
  &-form {
    border: var.$border;
    border-radius: var.$border-radius;
  }

  &-title-input {
    display: block;
    width: 100%;
    padding: var.$input-padding;
    border: none;
    background: transparent;
  }

  &-description-textarea {
    display: block;
    width: 100%;
    padding: var.$textarea-padding;
    border: none;
    background: transparent;
    resize: none;
  }

  &-form-group {
    display: flex;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }

  &-priority-select {
    margin-right: 1rem;
    background: transparent;
  }

  &-duedate-input {
    background: transparent;
  }

  &-submit-button {
    margin-left: auto;
  }
}

.todos {
  list-style: none;
}

.hide {
  display: none;
}

.show {
  display: inline;
}
