@use "var";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
  font-family: "Poppins", sans-serif;
  color: var.$body-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var.$heading-color;
}
