$green: #56c895;
$red: #d08484;
$grey: #a3a3a3;

$primary-color: $green;
$secondary-color: $grey;
$warning-color: $red;
$body-color: #4f4f4f;
$heading-color: #262626;
$border-color: $secondary-color;
$background-color: rgba(255, 255, 255, 0.7);

$background-image: url("../images/office.jpg") center / cover no-repeat;

$border: 1px solid $border-color;
$border-radius: 0.25rem;

$input-padding: 0.25rem;
$textarea-padding: 0.25rem;
