$green: #56c895;
$red: #d08484;
$grey: #a3a3a3;
$white: #fff;

$primary-color: $green;
$secondary-color: $grey;
$warning-color: $red;
$body-color: #4f4f4f;
$heading-color: #262626;
$border-color: $secondary-color;
$background-color: rgba(255, 255, 255, 0.7);
$todo-input-background-color: transparent;
$priority-high-color: $red;
$priority-medium-color: yellow;
$priority-low-color: lightblue;
$overlay-background-color: rgba(0, 0, 0, 0.5);

$background-image: url("../images/office.jpg") center / cover no-repeat;

$border: 1px solid $border-color;
$priority-border: 2px solid $border-color;
$border-radius: 0.25rem;

$input-padding: 0.25rem 0.5rem;
$textarea-padding: 0.25rem 0.5rem;
$form-group-padding: 0.5rem;
$item-padding: 0.5rem;

$item-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
$delete-button-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
